/*
    table of content
    1. common css
    2. heading css
    3. navbar css
    4. banner css
*/
/* ==  common css  == */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
/* ==  common css ends ==*/
/* ==  variable  declare ends  == */
/* == mixing declare ends ==  */
.heading h4 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  margin-bottom: 12px;
}
.heading h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  position: relative;
}
.heading h3::before {
  content: '';
  width: 60px;
  height: 3px;
  background: #f38181;
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
}
.heading p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #999999;
  margin-top: 66px;
}
.sticky-nav {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0 !important;
  background: rgba(243, 129, 129, 0.9);
  padding-bottom: 20px !important;
  animation: slideDown 1s linear;
  transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}
@keyframes slideDown {
  from {
    top: -30px;
  }
  to {
    top: 0;
  }
}
/* ==  heading  css  ends  == */
.navbar {
  position: fixed;
  top: 16px;
  left: 0;
  z-index: 99999;
  width: 100%;
}
.navbar .nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding: 0 !important;
  margin: 0 10px;
  transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}
.navbar .nav-link::after {
  content: '';
  width: 0px;
  height: 3px;
  background: #fce38a;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}
.navbar .nav-link:hover {
  color: #fce38a;
}
.navbar .nav-link:hover::after {
  width: 100%;
}
.navbar .active {
  color: #fce38a;
}
.navbar .active::after {
  width: 100%;
}
/* ==  navbar  css  ends  == */
#banner {
  padding-top: 230px;
  padding-bottom: 230px;
  background: url(../images/banner-bg.jpg) no-repeat center / cover;
  position: relative;
  z-index: 1;
}
#banner::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#banner .banner-text h4 {
  font-family: 'Kaushan Script', cursive;
  text-transform: capitalize;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 50px;
}
#banner .banner-text h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 150px;
  line-height: 34px;
  line-height: 140px;
}
#banner .banner-text a {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  border: 3px solid #fff;
  padding: 0 30px;
  line-height: 34px;
  margin-top: 125px;
  position: relative;
  z-index: 1;
  transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}
#banner .banner-text a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  z-index: -1;
  transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}
#banner .banner-text a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  z-index: -1;
  transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}
#banner .banner-text a:hover {
  color: #f38181;
}
#banner .banner-text a:hover::before {
  width: 50%;
}
#banner .banner-text a:hover::after {
  width: 50%;
}
#banner .slick-dots {
  position: absolute;
  left: 50%;
  bottom: -150px;
  transform: translateX(-50%);
}
#banner .slick-dots li {
  float: left;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
}
#banner .slick-dots li button {
  display: none;
}
#banner .slick-dots .slick-active {
  background: #ff2828;
}
/* ==  banner  css  ends  == */
#story {
  padding-top: 90px;
  padding-bottom: 110px;
}
#story .story-image {
  margin-top: 104px;
  position: relative;
  overflow: hidden;
}
#story .story-image .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}
#story .story-image .overlay i {
  margin-top: 105px;
}
#story .story-image:hover .overlay {
  top: 0;
}
/* ==  story  css  ends  == */
